.heading {
  color: rgb(59, 48, 88);
}
.welcome {
  text-align: center;
  font-size: 20px;
}
.welcome-banner {
  width: 120vh;
  height: 80vh;
  margin: 20px;
  margin-left: 250px;
  align-content: center;
}

@media (max-width: 1000px) {
  .welcome-banner {
    width: 10vh;
    height: 30vh;
    margin: 10px;
    margin-right: 500px;
  }
}
