.main-container {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px 15px rgb(206, 204, 204);
}

.loading {
  margin: 50vh auto;
  text-align: center;
}

.heading {
  margin-top: 30px;
}
.heading-login {
  color: blue;
}
.login {
  width: 300px;
  margin: 20px auto;
}

.email-input {
  width: 290px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.password-input {
  width: 290px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.signin-button {
  width: 290px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  background-color: blue;
  border: blue;
  cursor: pointer;
  margin-bottom: 20px;
}
.signup {
  color: blue;
  padding: 10px;
  text-decoration: none;
}
.input[type="text"]:focus {
  outline: none;
}

@media (max-width: 370px) {
  .main-container {
    width: 300px;
    height: 380px;
  }
  .login {
    width: 280px;
    margin: 20px auto;
  }

  .email-input {
    width: 270px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .password-input {
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .signin-button {
    width: 270px;
    height: 40px;
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .main-container {
    width: 270px;
    height: 380px;
  }
  .login {
    width: 250px;
    margin: 20px auto;
  }

  .email-input {
    width: 240px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .password-input {
    width: 240px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .signin-button {
    width: 240px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 280px) {
  .main-container {
    width: 250px;
    height: 380px;
  }
  .login {
    width: 220px;
    margin: 20px auto;
  }

  .email-input {
    width: 220px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .password-input {
    width: 220px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .signin-button {
    width: 220px;
    height: 40px;
    font-size: 16px;
  }
}
